.headerTitle{
    background-color: #660000;
    border-radius: 25px;
    padding: 10px;
    color: #FFFFFF;
    margin: 15px 25px 0px 25px;
}

.headerTabs{
  background-color: #2e2e2e;
  border-radius: 25px;
  padding: 10px;
  color: #FFFFFF;
  margin: 15px 25px 0px 25px;
}

table th , table td{
    text-align: center;
}

table tr:nth-child(even){
    background-color: #e4e3e3
}

th {
  color: rgb(0, 0, 0);
}

.pagination {
  margin: 0;
}

.pagination li:hover{
    cursor: pointer;
}

.header_wrap {
  padding:30px 0;
}
.num_rows {
  width: 20%;
  float:left;
}
.tb_search{
  width: 20%;
  float:right;
}
.pagination-container {
  width: 70%;
  float:left;
}

.rows_count {
  width: 20%;
  float:right;
  text-align:right;
  color: #999;
}

#anchorPage{
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  background-color: #999;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}

#anchorPage:hover{
  background-color: #777;
}